<div class="box1">
  <p class="sentence"><%= @question %></p>
  <p class="author">-You</p>
</div>

<div class="box2">
  <p class="sentence"><%= @answer %></p>
  <p class="author">-Your coach</p>
</div>

<div class="link">
  <%= link_to "Ask another stupid question", ask_path %>
</div>
